---
import { getAllTags } from "@/utilities/getAllTags";
import {Icon} from "astro-icon/components";
const tags = await getAllTags()
---


<div class="flex gap-3">
    <span id="opener" class="w-12 h-12 rounded-full grid place-items-center border border-zinc-700">
        <Icon class="text-white text-2xl hover:text-gray-500 cursor-pointer" name="lucide:list-filter"></Icon>
    </span>
   <div id="selector" class="opacity-0 transition-opacity">
    {
        tags.map(tag => (
            <a href={`/blog/tag/${tag.toLowerCase()}`}>
            <span class="border-extra-soft-white mt-4 self-start rounded border px-2 py-1 text-zinc-400"> {tag} </span>
            </a>
        ))
    }
   </div>
    
</div>

<script data-astro-rerun>
    document.getElementById("opener")?.addEventListener('click', () => {
        const selector = document.getElementById('selector');
        selector?.classList.toggle('opacity-0');
    })
</script>